
.stage{
  width:650px;
}

.scoreboard{
  clear:both;
}

.card {
  float:left;
  margin:45px;
  width: 90px;
  height: 90px;
  border-radius: 20px;
}

.card.red {
  background-color: red;
  border:1px red solid;
}
.card.blue {
  background-color: blue;
  border:1px blue solid;
}
.card.green {
  background-color: green;
  border:1px green solid;
}

.card.solid {
  /*fine as is*/
}
.card.stripped{
  border: 8px white dotted;
}
.card.outline div {
  margin: 9px;
  width: 70px;
  height: 70px;
  background-color: #e5e5e5;
  border-radius: inherit;
}

.card.circle {
  border-radius: 45px;
}
.card.diamond {
  border-radius: 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.card .square {
  /*fine as is*/
}


.card.active{
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
/*ugly*/
.card.diamond.active{
  -webkit-transform: scale(0.8, 0.8) rotate(45deg);
  -moz-transform: scale(0.8, 0.8) rotate(45deg);
  -ms-transform: scale(0.8, 0.8) rotate(45deg);
  -o-transform: scale(0.8, 0.8) rotate(45deg);
  transform: scale(0.8, 0.8) rotate(45deg);
  border-radius: 0px;
}

.set .card{
  -webkit-transform: scale(0.4, 0.4);
  -moz-transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.01);
}
/*ugly*/
.set .card.diamond{
  -webkit-transform: scale(0.4, 0.4) rotate(45deg);
  -moz-transform: scale(0.4, 0.4) rotate(45deg);
  -ms-transform: scale(0.4, 0.4) rotate(45deg);
  -o-transform: scale(0.4, 0.4) rotate(45deg);
  transform: scale(0.4, 0.4) rotate(45deg);
  border-radius: 0px;
}